#answerdetailpage{
	background: #f0f7fd;
}

#answerStyle{
	height: 100px;
	background: rgb(37, 176, 231);
	
}

#answerdetail_photo{
    width: 80%;
    padding: 0% 5% 5% 5%;
    margin: 0% 5%;
    background: white;
}

#WaitAnswer_text{
	margin: 0 5%;
    background: white;
    margin-top: -23%;
    border-radius: 8px 8px 0 0;
}

#myquestionDetail_photo img{
	
}


/*
	text
*/

#WaitAnswerDetailTitle{
   font-size: 1.2em;
    color: rgb(37, 176, 231);
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: bold;
    padding: 5% 5% 2% 0;
    border-bottom: 1px solid rgba(181, 197, 253, 0.5);
    
}

#WaitAnswerDetailDate{
	font-size: 0.8em;
    color: rgb(37, 176, 231);
    padding: 0 5% 5% 5%;
    
}

#WaitAnswerDetailContents{
	color: #525252;
    padding: 10% 5%;
    font-size: 1em;
    margin: 5% 5% 10% 5%;
    background: white;
    border-radius: 5px;
    clear: left;
}


/*
	burn select class
*/

#answerdetail_class{
	margin: 0 5%;
	height: 160px;
	background: white;
	border-radius: 0 0 5px 5px;
}


#answerdetail_class ul{
	margin: 0;
	padding:0;
}

#answerdetail_class li{
	list-style: none;
	float: left;
	width: 33.3%;
	background: white;
}

#answerDetailAge, #answerDetailArea, #answerDetailburn{
	font-size: 1em;
	text-align: center;
}

.answerDetail_class_img{
	margin: 0 10%;
}

#answerDetailArea_img{
	margin: 6% 17% 8% 17%;
}

/*
	doctor comment
*/

#answerdetail_comment{
	margin: -4% 5%;
}

#AnswerBox{
	margin: 0 5%;
}

#answerdetail_btn{
    background: #25b0e7;
    color: white;
    text-shadow: none;
    border-radius: 30px;
    height: 55px;
    margin: 10% 0;
}

.ui-shadow-inset{
	box-shadow: none;
}

.ui-corner-all{
	border-radius: 0px;
}

.ui-page-theme-a .ui-body-inherit{
	border-color: white;
}

textarea#AnswerTxt.ui-input-text.ui-shadow-inset.ui-body-inherit.ui-corner-all.ui-textinput-autogrow{
	min-height: 100px;
	border-radius: 0 0 8px 8px;
	padding: 4% 4%;
}

textarea.ui-input-text{
	resize: inherit;
}


/*
	answer case
*/

.answer_case_design1{
    float: left;
    border-left: 2px solid #d9e5ef;
    width: 1%;
    margin-left: 10%;
    height: 70px;
}

.answer_case_design2{
    float: left;
    width: 2.5%;
    margin-left: -2.5%;
    height: 70px;
    line-height: 100px;
}

.answer_case_design3{
    float: left;
    width: 82%;
    height: 70px;
    color: #3b97d2;
    text-align: left;
    font-size: 1em;
    line-height: 100px;
    margin-left: 2%;
}

.answer_case_div{
	clear:left;
    margin: 0 5% 0 5%;
    height: 10px;
    padding-bottom: 44%;
    background: white;
    border-radius: 5px;
}

.answer_case_div ul{
	margin:0;
	padding: 0;
}

.answer_case_div li{
	list-style: none;
	float: left;
	width: 50%;
	background: white;
	border-radius: 5px;
}

.answer_case_img{
	margin: 7% 6% 4% 6%;
}

.answer_case_img img{
	border-radius: 5px;
}

.answer_case_delete{
    margin-left: 80%;
    text-align: right;
    color: #25b0e7;
    width: 15%;
    margin-top: 5%;
}
.answer_case_wait_text{
	margin-left: 60%;
    text-align: center;
    font-size: 0.7em;
    color: gray;
    width: 30%;
    margin-top: 8%;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 1%;	
}

.answer_case_complete{
    width: 15%;
    margin-left: 5%;
}

.answer_case_date{
    font-size: 1.2em;
    color: black;
    width: 95%;
    margin-left: 5%;
    margin-top: 20%;
}

.answer_case_contents{
	margin-top: 15%;
    margin-left: 5%;
    font-size: 0.95em;
    
    display: inline-block;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.2em;
    height: 2.5em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}