body{
   margin: 0;
}

#doctor_webpage{
   background: white;
}

#top_menu{
    height: 120px;
    box-shadow: 0px 4px 8px -4px grey;
}

#top_back{
   width: 1080px;
    position: relative;
    margin: 0 auto;
    padding: 20px 0;
    height: 90px;
}


#wpias_logo{
    width: 150px;
    float: left;
    height: 60px;
    padding-top: 15px;
}

#topmenu_all{
    float: left;
    font-size: 22px;
    padding-left: 150px;
    margin-top: 50px;
    padding-right: 10px;
}

#topmenu_all:hover{
	cursor: pointer;
	color: #000000;
}

#topmenu_Progress{
   float: left;
   font-size: 22px;
    padding-left: 10px;
    margin-top: 50px;
    padding-right: 10px;
}

#topmenu_Progress:hover{
	cursor: pointer;
	color: #000000;
}

#topmenu_complete{
   float: left;
   font-size: 22px;
    padding-left: 10px;
    margin-top: 50px;
    padding-right: 10px;
}

#topmenu_complete:hover{
	cursor: pointer;
	color: #000000;
}

.topmenu_on{
	font-weight: bold;
	color: #000000;
}

/*
   main
*/

#doctor_main{
   width: 1080px;
    position: relative;
    margin: 0 auto;
}

/* profile */

#doctor_profile{
    float: left;
    width: 280px;
    margin-top: 20px;
    border: 1px solid #e2e2e2;
}

#doctor_img{
    width: 90px;
    margin: 0 auto;
    padding-top: 20px;
}

#doctor_name{
   font-size: 20px;
    width: 280px;
    text-align: center;
}

#doctor_part{
font-size: 15px;
    text-align: center;
    color: gray;
    padding-bottom: 20px;
    border-bottom: 1px solid #e2e2e2;
}

#doctor_question{
    padding-top: 15px;
    padding-bottom: 15px;
    height: 40px;
    border-bottom: 1px solid #e2e2e2;
}


#doctor_question_all{
   float:left;
   width: 50%;
}

#doctor_question_me{
	float: left;
	width: 50%;
}

#logout_img{
   float: left;
    width: 25px;
}

#logout{
   padding: 10px 0;
    height: 25px;
    display: flex;
    justify-content: center;
}
#doctor_notice_board_div{
	float: left;
    width: 780px;
    margin-left: 15px;
    margin-top: 20px;
}

#doctor_notice_board{
    border-right: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
}

#doctor_notice_board_progress_div{
	float: left;
    width: 780px;
    margin-left: 15px;
    margin-top: 20px;
}

#doctor_notice_board_progress{
  	border-right: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
}

#doctor_notice_board_complete_div{
    float: left;
    width: 780px;
    margin-left: 15px;
    margin-top: 20px;	
}

#doctor_notice_board_complete{
	border-right: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
}

.doctor_question_text_class{
   color: #666666;
   font-size: 15px;
   text-align: center;
   border-right
}

.doctor_question_number_class{
    font-size: 17px;
    font-weight: bold;
   text-align: center;
}

#logout_text{
   font-size: 17px;
    font-weight: 500;
}

/*
   board
*/
.doctor_notice_contents{
   height: 100px;   
   padding-left: 35px;
   border-top: 1px solid #e2e2e2;
}

.doctor_notice_contents:hover{
	cursor: pointer;
}

.doctor_notice_contents ul{
   margin: 0;
   padding: 0;
   float: left;
}

.doctor_notice_contents li{
   list-style: none;
}

.doctor_notice_contents_img{
   width: 100px;
    padding: 12px 20px;
}

.doctor_notice_contents_burn{
    background: #036eb7;
    color: white;
    width: 70px;
    font-size: 15px;
    padding: 0 2px;
    border-radius: 4px;
    margin-top: 25px;
    text-align: center;
}

.doctor_notice_contents_title{
    width: 675px;
    font-weight: bold;
    font-size: 17px;
    margin-top: 4px;
    
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
}

.doctor_notice_contents_content{
   width: 675px;
   margin-top: 5px;
    font-size: 15px;
    color: gray;
    height: 20px;
}

.doctor_notice_contents_detail{
   width: 15px;
   padding: 25px 20px;
}

.doctor_notice_detail{
    clear: left;
    display: flex;
    width: 400px;
    color: gray;
    padding: 0px 20px 15px 360px;
}

.doctor_notice_detail_img{
   float: left;
   width:40px;
}

.doctor_notice_detail_text{
    float: left;
    width: 80px;
    height: 38px;
    line-height: 38px;
    font-size: 13px;
}
.doctor_notice_detail_state{
	float: left;
    font-size: 13px;
    width: 80px;
    height: 20px;
    border: 1px solid #e2e2e2;
    text-align: center;
    line-height: 20px;
    border-radius: 4px;
    margin-top: 10px;
}

.doctor_notice_detail_state1{
    width: 80px;
    margin-left: 413px;
    float: left;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #cacaca;
    height: 20px;
    margin-top: 10px;
    line-height: 20px;
    font-size: 13px;
}

/*
   footer
*/

#doctor_footer{
   display: none;
   clear: left;
    position: fixed;
    bottom: 0;
    height: 100px;
    background: #fafafa;
    width: 100%;
    border-top: 1px solid #dddddd;
}

/*
   detail
*/

.doctor_detail_background{
	clear: left;
    background: #f4f4f4;
    width: 778px;
    display: flow-root;
}

.burncase_on{
	
}

.doctor_detail_bar{
	clear: left;
    width: 778px;
    height: 20px;
    background: #f4f4f4;
}

.doctor_detail_back1{
	clear: left;
	float: left;
    width: 150px;
    margin: 0 0 0 20px;
    padding-top: 10px;
    color: gray;
}

.doctor_detail_back2{
	float: left;
    width: 590px;
    background: white;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border: 1px solid #e2e2e2;
}

.doctor_detail_date_state{
    width: 590px;
    border-bottom: 1px solid #e2e2e2;
    height: 41px;
}


.doctor_detail_date{
    float: left;
    padding: 10px 0 10px 25px;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

.doctor_detail_img1{
	clear: left;
	float: left;
    width: 108px;
    padding-left: 20px;
    margin-top: 20px;
}

.doctor_detail_img2{
	float: left;
    width: 108px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
}

.doctor_detail_content{
    float: left;
    width: 315px;
    font-size: 15px;
    height: 100px;
    color: #5d5d5d;
    padding: 30px 20px 0px 9px;
}

.doctor_detail_back{
    clear: left;
    padding-top: 10px;
}

.doctor_detail_back:hover{
	cursor:pointer;
}

.doctor_detail_answer{
    margin-left: 20px;
    width: 60px;
    text-align: left;
    float: left;
    color: #3a97d2;
    font-weight: bold;
    text-shadow: none;
    font-size: 14px;
}

.doctor_detail_answer_img{
	float: left;
    width: 13px;
    margin-top: -1px;
}

.doctor_detail_answer_back{
	clear: left;
   padding: 20px 20px 0 20px;
    background: white;
}

.doctor_detail_answer_back textarea{
    margin: 0;
    width: 550px;
    min-height: 100px;
    border-radius: 0px;
    border: 1px solid #e4eef4;
    box-shadow: none;
    resize: inherit;
}

textarea.ui-input-text.ui-shadow-inset.ui-body-inherit.ui-corner-all.ui-textinput-autogrow{
    margin: 0;
    min-height: 100px;
    border-radius: 0px;
    border: 1px solid #e4eef4;
    box-shadow: none;
    resize: inherit;
}

.doctor_detail_answer_back button{
	width: 99px;
    margin: 0;
    margin: 20px 241px 0px 241px;
    border: 0px solid gray;
    border-radius: 0px;
    height: 35px;
    font-size: 15px;
    line-height: 10px;
    color: #ffffff;
    background: #3a97d2;
    text-shadow: none;
}

button.doctor_detail_button.ui-btn.ui-shadow.ui-corner-all{
	width: 99px;
    margin: 0;
    margin: 20px 241px 0px 241px;
    border: 0px solid gray;
    border-radius: 0px;
    height: 35px;
    font-size: 15px;
    line-height: 10px;
    color: #ffffff;
    background: #3a97d2;
    text-shadow: none;
}

.doctor_detail_button:hover{
	cursor: pointer;
}

.doctor_detail_answer_text{
	font-size: 16px;
    color: #4b4b4b;
    border: 1px solid #e2e2e2;
    background: #fbfbfb;
    min-height: 100px;
}

